* {
  margin: 0px;
  padding: 0px;
}
html,body {
  background-image: white;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

 .logo {
  height: 75px;
  width: auto;
  float: left;
  margin: -5px 0px 0px 50px;
}

 #statitics{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  padding:3%;
  background-color:#fcf1f1;
}

#stt{
  margin:2%;
  margin-top:5%;
}
.stat:hover{
  background-color:#e7d6d6;
  box-shadow: 2px 5px 5px #aa9f9f;
}

@media screen and (min-width: 800px) {
  #statitics .stat {
    max-width: 30%;
    display: block;

  }

}

@media screen and (min-width: 300px) and (max-width: 800px) {
  #statitics .stat {
    width: 49%;
    margin-right: 2%;
  }

  img.logo{
    height: 75px;
    margin:0px 0px 0px 20px;
  }
  .stat .text{
    flex:1 2 auto;
    white-space: wrap;
  }
}

.stat{
  color:black;
  list-style-type: none;
  border:1px solid black;
  border-radius: 5px;
  width: 100%;
  margin:5px;
  padding:20px;
  display: flex;
}

.stat .text h4{
  font-size: 20px;
  color:black;
  text-decoration: none !important;
  text-transform: uppercase;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}


  #ads-descript{
    margin:2% 10% 0 10%;
  }
  .description{
    font-size: 12px;
    text-align: center;
  }
  h2#title{
    text-align: center;
  }
  .types{
    position: relative;
    float:right;
  }
  button[type]{
    color:white;
    background-color: pink;
    border: 0px;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
    margin:4px 5px 0px 4px;
    box-shadow: 2px 5px 5px #aa9f9f;

  }
  button[type]:hover{
    color:black;

  }
  button[type]:before{
    content:url("https://img.icons8.com/small/15/000000/downloads.png");
  }



.topnav {
  overflow: hidden;
  background-color: #5b81a4;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #6a97c1ad;
  color: white;
}

.dropdown-content a:hover {
  background-color: #6a97c1ad;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  form[action] {
    display: none;
  }
  .topnav a,.dropdown .dropbtn{
    float: right;
    display: block;
    padding: 2px 2px;
    margin: 0px 0px;
  }
}

/* @media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }} */
.notification {
  background-color: ;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: red;
}

.notification .badge {
  position:absolute;
  top: 20px;
  right: -10px;
  padding: 3px 8px;
  border-radius: 50%;
  background: pink;
  color: white;
}
.notification span:first-child:before{
  content:url("https://img.icons8.com/material-sharp/15/000000/alarm.png")
}
form input{
  float:right;
  margin:12px;
  border:none;
  box-shadow:0px 0px 0px;
  padding:2px;
  text-align:center;
  background-image:linear-gradient(to left,#5b81a4,white,#5b81a4);
  color:black;
}
