* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(slide-img-4.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

.header-wrap {
  background-color: #5b81a4;
  height: 12%;
}

.content-wrap {
  background-color: #5b81a4;
  height: 12%;
  max-width: 100%;
  margin: 0 auto;
}

p {
  text-align: justify;
  word-spacing: 4px;
  letter-spacing: 1px;
  color: #344a5f;
}

.slider-wrap {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.logo {
  height: 99px;
  width: auto;
  float: left;
  padding-left: 10%;
}

.buttons {
  padding-top: 5%;
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 4%;
  transition: background-color 0.2s, border 0.2s, color 0.7s;
}

.btn:hover,
.btn:active {
  background-color: #fe908b;
}

.btn-full:link,
.btn-full:visited {
  background-color: #fe908b;
  border: 2px solid #fd6f68;
  color: #fff;
  margin-right: 15px;
}

.btn-full:hover,
.btn-full:active {
  border: 2px solid #fd6f68;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 2px solid #fd6f68;
  color: #fd6f68;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 2px solid #fd6f68;
  color: #fff;
}

/*@media only screen and (max-width:1200px){
    .logo {
        height: 70px;
        margin-top: 0.5px;
        margin-left: 30px;
    }
    .header-wrap{
        background-color:#5b81a4;
        height: 8vh;
    }
    p{
        font-size: 70%;
        margin-right:400px;
        margin-left: 3%;
    }
    .buttons{
        margin-left:30px;
    }
    .btn{
        font-size: 12px;
        margin-left:30px;
    }
    .btn.btn-ghost{
        margin-left:1%;
    }
    
}*/
/*@media only screen and (max-width:1150px){
    p{
        font-size: 70%;
        margin-right:400px;
        margin-left: 5%;
    }
    .buttons{
        margin-left:30px;
    }
    .btn{
        font-size: 12px;
        margin-left:5%;
    }
    .btn.btn-ghost{
        margin-left:1%;
    }
}*/
@media only screen and (max-width:1024px) {

  html,
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(slide-img-4-1.jpg);
  }

  .header-wrap {
    height: 126px;
    width: auto;
  }

  .logo {
    height: 125px;
  }

  #slider-wrap {
    padding-left: 0;
    padding-right: 0;
    font-size: 30px;
  }

  .btn:link,
  .btn:visited {
    background-color: #fe908b;
    color: #fff;
  }

}

@media only screen and (max-width:768px) {

  html,
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(slide-img-4-1.jpg);
  }

  .body {
    padding: 0 50px;
  }

  .header-wrap {
    height: 93px;
  }

  .logo {
    height: 92px;
  }

}

@media only screen and (max-width:415px) {

  html,
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(slide-img-4-1.jpg);
  }

  .header-wrap {
    height: 50px;
  }

  .logo {
    height: 51px;
  }

  #slider-wrap {
    padding-left: 0;
    padding-right: 0;
    font-size: 15px;
  }

  .btn:link,
  .btn:visited {
    padding: 3px 7px;
    font-size: 15px;
    border: 1.5px solid #fd6f68;
  }

  p {
    font-size: 15px;
  }
}

@media only screen and (max-width:376px) {

  html,
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(slide-img-4-1.jpg);
  }

  .logo {
    height: 50px;
  }

  .header-wrap {
    height: 50px;
  }

  #slider-wrap {
    padding-left: 0;
    padding-right: 0;
    font-size: 15px;
  }

  p {
    margin-top: -25%;
    font-size: 10px;
  }
}

@media only screen and (max-width:360px) {

  html,
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(slide-img-4-1.jpg);
  }

  .header-wrap {
    height: 7%;
  }

  .logo {
    height: 45px;
  }
}

@media only screen and (max-width:320px) {

  html,
  body {
    background-image: url(slide-img-4-1.jpg);
  }

  .logo {
    height: 40px;
  }

  #slider-wrap {
    padding-left: 0;
    padding-right: 0;
    font-size: 10px;
  }
}

/*@media only screen and (max-width:1024px){
    .logo {
        height: 70px;
        margin-top: 0.5px;
        margin-left: 30px;
    }
    .header-wrap{
        background-color:#5b81a4;
        height: 8vh;
    }
    p{
        font-size: 70%;
        margin-right:400px;
        margin-left: 100px;
    }
    .buttons{
        margin-left:30px;
    }
    .btn:link,
    .btn:visited{
        font-size: 12px;
        margin-left:9%;
    }
    .btn.btn-ghost{
        margin-left:1%;
    }
    form input{
        float:right;
        margin:2%;
        height: 4vh;
        box-shadow:0px 0px 0px;
        text-align:left;
        color:black;
      }
      .topnav a {
        float: right;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 2%;
        text-decoration: none;
        font-size: 17px;
      }
      .dropdown .dropbtn {
        font-size: 17px;
        border: none;
        outline: none;
        color: white;
        padding: 24% 0%;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
      }
}*/