* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background-color: rgb(238, 230, 230, 0.1);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  color: #344a5f;
  font-family: 'Raleway', sans-serif; 
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility; 
  overflow-x: hidden;
}

.topnav{
  background-color:#5b81a4;
  height: 12%;
}
.content-wrap {
  background-color:#5b81a4;
  height: 12%;
  max-width: 100%;
  margin: 0 auto; 
}

#register-wrap{
  display: block;
  font-size: 100%;
  height: 88%;
  width: 100%;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 5%;
  text-align: center;
}
input{
  height: 4vh;
  width: 50%;
  border-radius: 4px;
}
.logo {
  height: 99px; 
  width: auto;
  float: left;
  padding-left: 10%;
}
#registerGender{
  height: 4vh;
  border-radius: 4px;
}
#terms{
  text-align: right;
}
#registerTerms{
  width: 4%;
}
.buttonR{
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 4%;
  transition: background-color 0.2s, border 0.2s, color 0.7s; 
  border: 2px solid #fd6f68;
  background-color: transparent;
  color: #fd6f68;
  margin-left: 18vh;
  margin-top: 4vh;
}
.buttonR:link, 
.buttonR:visited{
  border: 2px solid #fd6f68;
  color: #fd6f68;
}

.buttonR:hover,
.buttonR:active {
  background-color: #fe908b;
  border: 2px solid #fd6f68;
  color: #fff;
}
@media only screen and (max-width:1024px){
  .topnav{
      height: 9%;
  }
  .logo{
      height: 125px;
  }
  #register-wrap{
      padding-left: 0;
      padding-right: 0;
      font-size: 20px;
  }
  #registerT{
      margin-right: 5%;
  }
  .buttonR:link, .buttonR:visited{
      background-color: #fe908b;
      color: #fff;
  }
  input{
      height: 3vh;
  }
  #registerGender{
      height: 3vh;
  }
  #formTerms{
      width: 2%;
  }
}

@media only screen and (max-width:768px){
  .topnav{
      height: 9%;
  }
  .logo{
      height: 92px;
  }
}
@media only screen and (max-width:415px){
  .topnav{
      height: 50px;
  }
  .logo{
      height: 51px;
  }
  #register-wrap{
      padding-left: 0;
      padding-right: 0;
      font-size: 12px;
  }
  .buttonR:link, .buttonR:visited{
      padding: 3px 7px;
      border: 1.5px solid #fd6f68;
  } 
  .input{
      height: 3vh;
  }
}
@media only screen and (max-width:376px){
  .logo{
      height: 50px;
  }
  .topnav{
      height: 50px;
  }
  #register-wrap{
      padding-left: 0;
      padding-right: 0;
      font-size: 10px;
  }
  .input{
      height: 3vh;
  }
  #registerGender{
      height: 3vh;
  }
}

@media only screen and (max-width:360px){
  .topnav{
      height: 7%;
  }
  .logo{
      height: 45px;
  }
}
@media only screen and (max-width:320px){
  .logo{
      height: 40px;
  }
  #register-wrap{
      padding-left: 0;
      padding-right: 0;
      font-size: 10px;
  }
}
