* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  background-image: white;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

#statistics {
  margin-top: 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 3%;
  background-color: #fcf1f1;
}

#stt {
  margin: 2%;
  margin-top: 5%;
}

.stat:hover {
  background-color: #e7d6d6;
  box-shadow: 2px 5px 5px #aa9f9f;
}

.stat {
  color: black;
  list-style-type: none;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  margin: 5px;
  padding: 20px;
  display: flex;
}

.stat .text h4 {
  font-size: 20px;
  color: black;
  text-decoration: none !important;
  text-transform: uppercase;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

#ads-descript {
  margin: 2% 10% 0 10%;
}

.description {
  font-size: 12px;
  text-align: center;
}

h2#title {
  text-align: center;
}

.types {
  position: relative;
  float: right;
}

button[type] {
  color: white;
  background-color: pink;
  border: 0px;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px;
  cursor: pointer;
  margin: 4px 5px 0px 4px;
  box-shadow: 2px 5px 5px #aa9f9f;
}

button[type]:hover {
  color: black;
}

button[type]:before {
  content: url("https://img.icons8.com/small/15/000000/downloads.png");
}

.logo {
  height: 3em;
  width: auto;
  float: left;
  margin: -5px 0px 0px 3em;
}

.topnav {
  overflow: hidden;
  background-color: #5b81a4;
  width: 100%;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: #6a97c1ad;
  color: white;
}

.dropdown-content a:hover {
  background-color: #6a97c1ad;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.notification {
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: red;
}

.notification .badge {
  position: absolute;
  top: 1.4em;
  right: -0.7em;
  padding: 3px 8px;
  border-radius: 50%;
  background: pink;
  color: white;
  font-size: 12px;
}

.notification span:first-child:before {
  content: url("https://img.icons8.com/material-sharp/15/000000/alarm.png")
}

form input {
  float: right;
  margin: 12px;
  border: 0.5px solid;
  box-shadow: 0px 0px 0px;
  padding: 2px;
  text-align: center;
  color: black;
  width: 10%;
}

.header-wrap {
  background-color: #5b81a4;
  height: 10.6vh;
  position: sticky;
  top: 0;
  z-index: 0;
}

.content-wrap {
  background-color: #5b81a4;
  height: 12%;
  max-width: 1140px;
  margin: 0 auto;
}

@media screen and (min-width: 300px) and (max-width: 700px) {
  #statistics .stat {
    width: 49%;
    margin-right: 2%;
  }

  .stat .text {
    flex: 1 2 auto;
    white-space: wrap;
  }

  form[action]#searchx {
    display: none;
  }

  .topnav a,
  .dropdown .dropbtn {
    float: right;
    display: block;
    padding: 2px 2px;
    margin: 0px 0px;
  }

  img.logo {
    height: 1.2em;
    width: auto;
    margin: 0px 0px 0px 0.5em;
  }
}

@media screen and (min-width: 800px) {
  #statistics .stat {
    max-width: 30%;
    display: block;
  }
}